In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
df.mean()

/tmp/ipykernel_4470/3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [5]:
df.median()

/tmp/ipykernel_4470/530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [6]:
df.species.mode()

0        Iris-setosa
1    Iris-versicolor
2     Iris-virginica
Name: species, dtype: object

In [7]:
df.groupby(['species']).count()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa                50           50            50           50
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50

In [9]:
df.groupby(['species']).count()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa                50           50            50           50
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50

In [10]:
df.sepal_length.std()

0.8280661279778629

In [12]:
df.sepal_width.std()

0.4335943113621737

In [13]:
df.petal_length.std()

1.7644204199522617

In [14]:
df.petal_width.std()

0.7631607417008414

In [ ]:
df["Age"] = df["Age"].replace(np.NaN, df["Age"].mean())

In [ ]:
df["Age"] = df["Age"].replace(np.NaN, df["Age"].median())

In [ ]:
#missing values - categorical - solution
df["Marks"] = df["Marks"].fillna(df["Marks"].mean())